
body {
	font-family: 'Roboto Mono', monospace;
}

h2 {
  margin-bottom: 0;
}

.icon-selected {
  background-color: #ddf !important;
}

button.icon-select {
    background: transparent;
    color: blue;
    border: none;
    outline: 0;
    cursor: pointer;
}
button.icon-select:hover {
    color: firebrick;
}

li.icon-li {
  height: 28px;
}
li.icon-group-c {
  list-style-image: url(../icons/c-24.png);
}
li.icon-group-javascript {
  list-style-image: url(../icons/nodejs-24.png);
}
li.icon-group-bash {
  list-style-image: url(../icons/bash-24.png);
}
li.icon-group-hardware {
  list-style-image: url(../icons/server-24.png);
}
li.icon-group-github {
  list-style-image: url(../icons/github-24.png);
}

.box {
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 4px;
  margin: 25px;
  padding: 0;
}

.box-header {
  box-sizing: border-box;
  background-color: #f5f5f5;
  border-bottom: 1px solid #000;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  font-weight: bold;
  font-size: 2em;
  padding: 10px;
}

.box-content {
  padding: 10px;
}

img.zoomimg {
  padding: 10px;
  width: 200px;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -o-transition: all 1s ease; /* IE 9 */
  -ms-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
  max-width: 100%;
}

img.zoomimg:hover {
  -webkit-transform:scale(1.25); /* Safari and Chrome */
  -moz-transform:scale(2); /* Firefox */
  -ms-transform:scale(2); /* IE 9 */
  -o-transform:scale(2); /* Opera */
  transform:scale(2);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
